/* 
    Document   : Component_Design
    Created on : 10 déc. 2011, 01:34:18
    Author     : Marjorie
    Description:
        Purpose of the stylesheet follows.
*/

html {
    color: #fff;
    background-color: #151515;
}

.epiTitle {
    padding-right: 50px;
    font-size: 30px; 
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    min-height: 800px;
}

.header {
    background: url(/Epimarket/includes/images/background1.jpg) no-repeat;
    height: 120px; 
}

.header table {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

.header table tr td {
    text-align: center;
}

input {
    border-radius: 15px;
    width: 150px;
    text-align: center;
}

.header input[type=submit] {
    border-radius: 15px;
    display: block;
    border: 2px solid #fff;
    background: none;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    width: 150px;
    cursor: pointer;
}

.footer {
    height: 60px; 
    margin-top: 40px;
    padding-top: 20px;
    background: url(/Epimarket/includes/images/background2.jpg) no-repeat;
}

.footer table {
    margin: 0 auto;
    width: 1000px;
}

fieldset {
    border: 2px solid #fff;
}

.scroller {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.dojoComboBoxItem  {
    color: #000; 
}