/* 
    Document   : Component_Market
    Created on : 11 déc. 2011, 19:31:28
    Author     : Marjorie
    Description:
        Purpose of the stylesheet follows.
*/

.linkProduct {
    font-size: 14px;
}

.productDiv {
    margin-left: 75px;
    margin-bottom: 20px;
    width: 330px;
    height: 230px;
    float: left;
}

.productDiv td {
    text-align: center;
}

.productPicCadre {
    position: relative;
    padding: 10px;
    width: 280px;
    height: 180px;
    background: url(/Epimarket/includes/images/imgBack.png);
}

.productPicCadre img {
    margin-top: 20px;
    width: 200px;
    height: 150px;
}

.productPic {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 250px;
    height: 150px;
    border: 1px solid red;
}

.genTable {
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.genTable tr td {
    border-top: 1px solid #fff;
}

.PasserCommandeBtn {
    float: right;
}