.parallax {
    position: relative; 
    overflow: hidden; 
    width: 180px;
    height: 450px;
}

.parallaxBorder {
    position: relative;
    width: 225px;
    height: 530px;
}

.parallaxBorder1 {
    background-image: url(/Epimarket/includes/images/parallax/parallax-border-1.png);
}
.parallaxBorder2 {
    background-image: url(/Epimarket/includes/images/parallax/parallax-border-2.png);    
}
.parallaxBorder3 {
    background-image: url(/Epimarket/includes/images/parallax/parallax-border-3.png);    
}
.parallaxImg {
    position: absolute;
    left: 21px;
    top: 45px;
}

.transitionCategorie {
    text-align: center;
}

.transitionCategorie a {
    opacity: 0.7;
    font-size: 16px;
    text-transform: capitalize;
}

.transitionCategorie a:hover {
    text-decoration: none;
    opacity: 1;
}